  <div class="login-container">
    <div class="login-grid">

      <span class="login-heading">Login</span>
      <div class="input-fields">
        <input matInput type="email" class="login-page-inputs" placeholder="Email id">
        <input matInput type="password" class="login-page-inputs" placeholder="Password" >
        <mat-icon class="visibility-icon">visibility</mat-icon>
      </div>

      <span class="forgot-password"><u>Forgot password ?</u></span>
      <button class="login-button">Login</button>
      <span class="nav-signup">Don't have an account? <u class="register">Register</u></span>
    </div>


  </div>

