/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


input.login-page-inputs {
  block-size: 2rem;
  margin-bottom: 10px;
  border: 2px solid whitesmoke;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  display: inline;

  :hover{
    cursor: pointer;
  }
}

input.login-page-inputs:focus{
  outline:none
}
input.login-page-inputs::placeholder{
  color: whitesmoke
}

html, body { block-size: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
