<div class="signup-container">
  <div class="signup-grid">
    <span class="signup-heading">Sign up</span>
    <input matInput  class="auth-page-inputs" type="email" placeholder="Email">
    <input matInput class="auth-page-inputs" placeholder="User name">
    <input matInput class="auth-page-inputs" type="password" placeholder="Enter your password">
    <input matInput class="auth-page-inputs" type="password" placeholder="Confirm password">
    <button class="signup-button">Sign up</button>
  </div>
</div>
